<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, role: "form", class: "form-signin" }) do |f| %>
  <%= devise_error_messages! %>
  <h2 class="form-signin-heading">Editar Perfil</h2>
  <div><%= f.label :username %><br />
  <%= f.email_field :username, :autofocus => true, class: "form-control", id: "username_text", placeholder: "Username" %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> 
  <%= f.password_field :password, :autocomplete => "off", class: "form-control", id: "password_text", placeholder: "Nova Senha"  %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control", id: "confirmation_password_text", placeholder: "Confirme Nova Senha"  %></div>

  <div><%= f.label :current_password %> 
  <%= f.password_field :current_password, class: "form-control", id: "Current_password_text", placeholder: "Senha Atual"  %></div>

</br>
  <div><%= f.submit "Atualizar", :class => "btn btn-lg btn-primary btn-block" %></div>
<% end %>

<%= link_to "Back", :back %>
