<h1>Lista de pacientes</h1>
<div id="pacientes">
<%= form_tag pacientes_path, :method => 'get', :id => "pacientes_search" do %>
<div class="col-md-3">
	<div class="input-group">
	      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Buscar paciente" %>
	      <span class="input-group-btn">
	         <%= submit_tag "Buscar", :nome => nil, class: "btn btn-primary" %>
	      </span>
	    </div><!-- /input-group -->
</div>
<% end %>
</br>
</br>
</br>
</br>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Email</th>
      <th>Celular</th>
      <th>Convenio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pacientes.each do |paciente| %>
      <tr id="paciente_<%= paciente.id%>">
        <td><%= link_to "#{paciente.nome}", paciente %></td>
        <td><%= paciente.cpf %></td>
        <td><%= paciente.email %></td>
        <td><%= paciente.telc %></td>
        <td><%= paciente.convenio %></td>
		
        <td><%= link_to '<span class="glyphicon glyphicon-edit"></span> Editar'.html_safe, edit_paciente_path(paciente), class: "btn btn-primary btn-xs" %></td>
		
		<% if current_user.role == "administrador" %>
        <td><%= link_to '<span class="glyphicon glyphicon-remove-circle"></span> Deletar'.html_safe, paciente, method: :delete, remote: true, class: "btn btn-danger btn-xs", id: "remove_paciente_#{paciente.id}", data: { confirm: 'Tem certeza?' } %></td>
		<%end%>
		
      </tr>
	  <% content_for :js do%>
	    $('#remove_paciente_<%= paciente.id %>').bind('ajax:success', function(){
	      $('#paciente_<%= paciente.id %>').remove();
	    });
	  <%end%>
    <% end %>
  </tbody>
</table>

</br>

<%= link_to '<span class="glyphicon glyphicon-user"></span> Novo Paciente'.html_safe, new_paciente_path, class: "btn btn-primary" %></br>