<h1>Paciente: <%= @paciente.nome %></h1>
<div class="row">
  <div class="col-md-4">
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 class="panel-title">Dados do paciente</h3>
	    </div>
	    <div class="panel-body">
		  
	 	   <div><strong>Cpf:</strong>
	 	    <%= @paciente.cpf %></div>

	 	   <div><strong>Email:</strong>
	 	    <%= @paciente.email %></div>
 
	 	    <div><strong>Idade:</strong>
	 	    <%= @paciente.idade %></div>

	 	    <div><strong>Sexo:</strong>
	 	    <%= @paciente.sexo %></div>
 
	 	    <div><strong>Telf:</strong>
	 	    <%= @paciente.telf %></div>
 
	 	   <div><strong>Telc:</strong>
	 	    <%= @paciente.telc %></div>

	 	    <div><strong>Convenio:</strong>
	 	    <%= @paciente.convenio %></div>
 	   
	 	    <div><strong>Ativo:</strong>
	 			<%if @paciente.ativo? %>
	 				Sim
	 			<% else %>
	 				Não
	 			<%end%></div>
	 	    <div><strong>Estadocivil:</strong>
	 	    <%= @paciente.estadocivil %></div>
		</br>
			<div><%= link_to '<span class="glyphicon glyphicon-edit"></span>  Editar Paciente'.html_safe, edit_paciente_path(@paciente), class: "btn btn-primary" %></div>
	    </div>
	  </div>
  	</div>
	<div class="col-md-4">
		<div class="panel panel-info altura-fixa">
			<div class="panel-heading">
				<h3 class="panel-title">Problemas recentes</h3>
			</div>
			<div class="panel-body">
	  			<% if @paciente.diagnosticos.last(5).each do |d| %>
	  			<div><%= d.nome %></div>
				
	  			<%end.empty?%>
				<p>-- Não há problemas para este paciente --</p>
				
				<%end%>
	  			<%= link_to '<span class="glyphicon glyphicon-list"></span>  Ver todos os problemas'.html_safe, paciente_diagnosticos_path(@paciente), class: "btn btn-primary" %> 
			</div>
		</div>	
	</div>
	<div class="col-md-4">
		<div class="panel panel-info altura-fixa">
		  <div class="panel-heading">
		    <h3 class="panel-title">Exames recentes</h3>
		  </div>
		<div class="panel-body">
			<% if @paciente.exames.last(5).each do |e| %>
					<div><%= e.nome %></div>
					
				<% end.empty? %>
					<p>-- Não há exames para este paciente --</p>
					
			<%end%>
			<%= link_to '<span class="glyphicon glyphicon-list"></span>  Ver todos os exames'.html_safe, paciente_exames_path(@paciente), class: "btn btn-primary" %> 
		</div>
	</div>
				
</div>
</div>
	  
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default altura-fixa">
				  <div class="panel-heading">
				    <h3 class="panel-title">Adicionar Problema | Exame | Consulta</h3>
				  </div>
				  <div class="panel-body">
	  				<p><%= link_to '<span class="glyphicon glyphicon-floppy-disk"></span>  Novo Diagnóstico'.html_safe, new_paciente_diagnostico_path(@paciente), class: "btn btn-primary" %></p>
	  	  			<p><%= link_to '<span class="glyphicon glyphicon-floppy-disk"></span>  Novo Exame'.html_safe, new_paciente_exame_path(@paciente), class: "btn btn-primary" %></p>
	  	  			<p><%= link_to '<span class="glyphicon glyphicon-floppy-disk"></span>  Nova Queixa'.html_safe, new_paciente_anamnese_path(@paciente), class: "btn btn-primary" %></p>
				  </div>
				</div>
				</div>
			
			
			
			<div class="col-md-4">
				<div class="panel panel-info altura-fixa">
				  <div class="panel-heading">
				    <h3 class="panel-title"> Consultas recentes</h3>
				  </div>
				  <div class="panel-body">
		  			<% if @paciente.anamneses.last(5).each do |a| %>
		  				<div><%= l a.updated_at, format: :short %></div>
						
		  			<%end.empty?%>
						<p>-- Não há consultas para este paciente --</p>
						
					<%end%>
				   <%= link_to '<span class="glyphicon glyphicon-list"></span>  Queixas deste Paciente'.html_safe, paciente_anamneses_path(@paciente), class: "btn btn-primary" %>
				  </div>
				</div>
				</div>
			<div class="col-md-4"></div>
		</div>
 
<div>
	
	<%= link_to '<span class="glyphicon glyphicon-circle-arrow-left"></span>  Voltar'.html_safe, pacientes_path, class: "btn btn-primary" %> | 
	
</div>
