<p>
  <h1><strong>Nome:</strong>
  <%= @paciente.nome %></h1>
</p>
<ul>

 <li> <strong>Cpf:</strong>
  <%= @paciente.cpf %></li>



 <li> <strong>Email:</strong>
  <%= @paciente.email %></li>
 

  <li><strong>Idade:</strong>
  <%= @paciente.idade %></li>


  <li><strong>Sexo:</strong>
  <%= @paciente.sexo %></li>
 

  <li><strong>Telf:</strong>
  <%= @paciente.telf %></li>

  
 <li> <strong>Telc:</strong>
  <%= @paciente.telc %></li>
  


  <li><strong>Convenio:</strong>
  <%= @paciente.convenio %></li>
 


  <li><strong>Ativo:</strong>
  <%= @paciente.ativo %></li>
 


  <li><strong>Estadocivil:</strong>
  <%= @paciente.estadocivil %></li>
</ul>
 
<p>
<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
</p>
<p>
<%= link_to 'Novo Diagnóstico', new_paciente_diagnostico_path(@paciente) %> |
<%= link_to 'Novo Exame', new_paciente_exame_path(@paciente) %> |
<%= link_to 'Nova Queixa', new_paciente_anamnese_path(@paciente) %> 
</p>
<p>
<%= link_to 'Diagnósticos deste Paciente', paciente_diagnosticos_path(@paciente) %> |
<%= link_to 'Exames deste Paciente', paciente_exames_path(@paciente) %> |
<%= link_to 'Queixas deste Paciente', paciente_anamneses_path(@paciente) %> 
</p>