<h1>Novo Diagnóstico</h1>

<%= form_for [@paciente,@diagnostico] do |f| %> <p>
<%= f.label 'Diagnóstico' %> 
<%= f.text_field :nome %> </p>
<p>
<%= f.label 'CID' %> 
<%= f.text_field :cid %>
</p> 
<div class="form-group">  
    <%= f.label "Estado do diagnóstico" %>
    	<%= f.check_box :estado_desativado, checked: "checked", disabled: "disabled", class: "form-control"  %>
		<%= f.hidden_field :estado, value: true %>
</div>

<p>
<%= f.submit %> 
</p>
<% end %>