<h1>Diagnóstico:  </h1>
<ul>
<li>Diagnóstico: <%= @diagnostico.nome %> </li>
<li>CID: <%= @diagnostico.cid %> </li> 
<li>Estado: <%= @diagnostico.estado %> </li>
</ul>
<% if @diagnostico.user_id == current_user.id %>
	<p><%= link_to 'Editar Diagnóstico', edit_diagnostico_path(@diagnostico) %></p>
<% end %>
<p><%= link_to 'Voltar', root_path %></p></p>