<h1>Diagnóstico:  </h1>
<ul>
<li>Diagnóstico: <%= @diagnostico.nome %> </li>
<li>CID: <%= @diagnostico.cid %> </li> 
<li>Estado: <%= @diagnostico.estado %> </li>
</ul>
<%= link_to '<span class="glyphicon glyphicon-circle-arrow-left"></span>  Voltar'.html_safe, paciente_path(@paciente), class: "btn btn-primary" %>
<% if @diagnostico.user_id == current_user.id %>
	<%= link_to '<span class="glyphicon glyphicon-edit"></span>  Editar Diagnóstico'.html_safe, edit_diagnostico_path(@diagnostico), class: "btn btn-primary" %>
<% end %>

