<header>
	<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
	  <div class="container-fluid">
      <%= link_to "e-Prontuário", root_path, id: "logo", class: "navbar-brand" %>
      <div class="nav-collapse">
        <ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? && current_user.role == "administrador" %>
			<li><%= link_to "Admin", rails_admin_path %></li>
			<% end %>
          <li><%= link_to "Início",    root_path %></li>
		  <% if user_signed_in? %>
		  <li><%= link_to "Editar Perfil",    edit_user_registration_path %></li>
          <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
		  <% end %>
        </ul>
      </div>
  </div>
  </div>
</div>
</header>